.App {
background-color: black;

}
.card{
  height: 400px;
  width: 200px;
  padding: 20px;
  border: 2px solid black;
  margin: 10px;
  background-color: rosybrown;
}
img{
  height: 100px;
  width: 100px;
}

.d-flex{
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}
.item{
  height: 150px;
  width: 150px;
  margin: 5px;
}
.item img{
  height: 100%;
  width: 100%;
}
.inventory{
  background-color: gray;
}
button{
 margin: 10px;

}
.toolbar{
  height: 100px;
  background-color: slategray;
  padding: 10px;
  display: flex;
  justify-content: space-around ;
  border: 2px solid black;
}

.grow1 {
  flex: 1
}
.spaceAr{
  justify-content: space-around ;
}
.a-center{
  align-items: center;
}
.arena{
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.arena img  {
  width: 150px;
  height: 200px;
}
.progressWrapper{
  margin-top: 20px;
  height: 20px;
  width: 100%;
  background-color: slategray;

}

.progress{
  height: 100%;
  width: 80%;
  background-color: palevioletred;
}
h1{
  color: deeppink;
}